---
import Analytics from '@vercel/analytics/astro'
import Feature from '../components/Feature.astro'
import Review from '../components/Review.astro'
import ForWho from '../components/ForWho.astro'
import Ingredient from '../components/Ingredient.astro'
import Testimonials from '../components/Testimonials.jsx'

import '../styles/global.css'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Kem Dưỡng Hoa Cúc</title>
	</head>
	<body class="max-w-xl mx-auto">

		<Feature />
		
		<ForWho />
		<Testimonials client:load />
		<Ingredient />
		<!-- <Review /> -->
		
		 <Analytics />
	</body>
</html>
