--- 

import { Image } from 'astro:assets'
import mainImage from '../images/main-img.jpg'

import '../styles/global.css'
---

<div class="align-center">
  <div class="relative">
    <div class="overlay-title absolute top-1/3 left-4 w-1/2 uppercase">Kem Dưỡng Hoa Cúc</div>
    <Image src={mainImage} alt="Main Image" />
  </div>
  
  <div class="p-6 text-justify">
      <!-- <p class="mt-4">Sản phẩm là sự kết tinh từ những dưỡng chất quý giá như hoa cúc chi, tinh bột nghệ, dầu dừa, sáp ong và dầu cám gạo. Với 100% thành phần tự nhiên, Kem Dưỡng Hoa Cúc như sự nuôi dưỡng dịu lành từ thiên nhiên. Đặc biệt phù hợp cho làn da nhạy cảm của mẹ bầu, em bé sơ sinh và trẻ nhỏ.</p> -->
      <p class="mt-4 indent-6">Sản phầm kem dưỡng Hoa Cúc của Làng Gạo là sự kết tinh của những nguyên liệu tốt lành, có tính nuôi dưỡng và bảo vệ làn da, vốn đã được cha ông ta đúc rút từ kinh nghiệm qua nhiều thế kỷ. Thành phần chính của Kem Dưỡng Hoa Cúc Làng Gạo gồm Hoa Cúc Chi, tinh bột nghệ, dầu dừa, sáp ong, dầu cám gạo… đều là những nguyên liệu có nguồn gốc hoàn toàn từ thiên nhiên, không chứa các chất độc hại.</p>
      <p class="mt-4 indent-6">Bởi vậy sản phẩm này đặc biệt hiệu quả khi sử dụng đối với những người cần dưỡng ẩm cho da, bị viêm da cơ địa lâu năm cần dưỡng chất phục hồi, chống hăm cho trẻ nhỏ khi phải sử dụng tã thường xuyên hay mẹ bầu sau sinh cần dưỡng những vùng da bị khô, nứt nẻ…</p>
    </div>
  </p>
</div>

<style>
  .overlay-title {
    font-family: 'ganh';
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    line-height: 1.4;
  }
</style>