--- 
import { Image } from 'astro:assets'
import KemDuong2 from '../images/kem-duong2.png'
---

<div class="align-center">
  <Image src={KemDuong2} alt="Main Image" />
  <div class="p-4">
    <h3 class="text-4xl mt-4">Đối tượng sử dụng</h3>
    <ul>
      <li>
       - Làn da khô, nứt nẻ.
      </li>
      <li>
        - Làn da nhạy cảm, dễ bị kích ứng, ửng đỏ.
      </li>
      <li>
        - Làn da cần được phục hồi sau tiến trì điều trị thẩm mỹ.
      </li>
      <li>
        - Phù hợp cho mẹ bầu và trẻ sơ sinh.
      </li>
      <li>
        - Những người theo đuổi lối sống tự nhiên và bền vững.
      </li>
    </ul>
  </div>
  <div class="p-4">
    <h3 class="text-4xl mt-4">Ưu điểm nổi bật</h3>
    <ul>
      <li>
       - Nguồn gốc 100% thuần tự nhiên
      </li>
      <li>
        - Không chứa chất bảo quản
      </li>
      <li>
        - Không chứa parabel

      </li>
      <li>
        - Không chứa cồn
      </li>
      <li>
        - Không chứa hương liệu hoá học
      </li>
    </ul>
  </div>
  

  
</div>